$primary-color: #4f2683;
$secondary-color: #6a51a2;
$muted: #6d6e71;
$light: rgb(250,250,250);
$light-fade: rgba($light,.8);

$sml-spacing: 5px;
$med-spacing: 10px;
$lrg-spacing: 15px;

$transition: all 200ms linear;
