@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import 'variables';
@import 'mixins';

html,
body {
  height: 100%;
}

a:focus,
a:active {
  outline: none;
}

.btn {
  @include transition;
}

/*================================
Navbar Styling
=================================*/
.navbar-inverse {
  background-color: transparent;
  border: none;
  padding: $med-spacing;

  .navbar-header {
    margin: 0;

    .brand-logo {
      font-size: 1.4em;
      margin: 0;
      padding: 0;
      height: 44px;
      color: $light;
      @include transition;

      &:hover {
        opacity: 0.8;
      }

      img {
        display: inline-block;
        margin-right: $med-spacing;
      }
    }
  }

  .btn-join {
    @include rounded;
    background-color: transparent;
    border: 1px solid $muted;
    padding: 6px 20px;
    color: #fff;
    margin: 0;

    &:hover {
      border: 1px solid #fff;
    }

    &:active {
      color: #ccc;
    }
  }

  .navbar-right {
    list-style: none;
    margin-right: 0;

    .img-profile {
      height: 50px;
      width: 50px;
      border-radius: 1000px;
      background-color: $secondary-color;
    }
  }
}

/*================================
Jumbotron Styling
=================================*/
.jumbotron {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  background: url("../img/bg.jpg") top center no-repeat #000;
  background-size: cover;

  .slack-callout {
    margin-bottom: $lrg-spacing;
    color: #fff;
    text-shadow: 0 0 6px rgba(0,0,0,.2);

    img {
      max-width: 75px;
      display: inline-block;
      vertical-align: top;
    }
  }
}

/*================================
Form Styling
=================================*/
.input-group {
  .form-control {
    border-radius: 0;
    border: none;
    border-bottom: 2px solid $muted;
    @include transition;

    &:focus {
      box-shadow: none;
      border-bottom: 2px solid $primary-color;
    }
  }

  .input-group-btn {
    .btn {
      background: $primary-color;
      border-radius: 0;
      border: none;
    }
  }
}

/*================================
Footer Styling
=================================*/
.footer {
  width: 100%;
  padding: $lrg-spacing;
  position: absolute;
  bottom: 0;
  color: #fff;

  p {
    margin: 0;
    padding: 0;
    text-align: center;
  }
}

/*================================
Mobile Styling
=================================*/
@media screen and (max-width:960px) {
  .navbar-inverse {
    .navbar-header {
      width: 100%;

      .brand-logo {
        width: 100%;
        margin-bottom: $med-spacing;

        img {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    .btn-join {
      width: 100%;
    }
  }

  .jumbotron {
    .slack-callout {
      img {
        display: none;
      }
    }
  }
}

.white {
    color: #fff;
}
